.chat-main{
  height: 100vh;
  width: calc(100vw - 300px);
  &__group-info{
    height: 100px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #eeeeee;
    &__left-item {
      padding-left: 40px;
      padding-top: 35px;
    }
      .left-item__group-name{
        font-size: 20px;
        color: #333333;
        margin-bottom: 15px;
      }
      .left-item__group-member{
        font-size: 12px;
        color: #999999;
      }
    &__right-item{
      width: 112px;
      padding-top: 28px;
      padding-right: 40px;
      .right-item__edit-btn {
        font-size: 16px;
        line-height: 40px;
        color: #38aef0;
        width: 72px;
        height: 40px;
        border: 1px solid;
        padding: 0 20px;
        display: block;
        text-decoration: none;
      }
    }
  }
  &__message-list{
    height: calc(100vh - 190px);
    background-color: #fafafa;
    padding-left: 40px;
    overflow: scroll;
    &__top-item{
      padding-top: 35px;
      display: flex;
      justify-content: flex-start;
      .chat-main__message-list__name{
      color: #333333;
      font-size: 16px;
      font-weight: bold;
      }
      .chat-main__message-list__datetime{
      color: #999999;
      font-size: 12px;
      margin-left: 10px;
      }
    }
    &__message-list__text{
      font-size: 14px;
      color: #434A54;
      padding-bottom: 46px;
      margin-top: 12px;
    }
  }
  &__message-form{
    background-color: #DDDDDD;
    box-sizing: border-box;
    height: 90px;
    padding: 20px 50px 20px 40px;
    position: relative;
        .new-message-box__text{
          border: none;
          float: left;
          height: 50px;
          width: calc(100% - 120px);
          padding-left: 10px;
        }
        .new-message-box{
          float: left;
          height: 25px;
          position: absolute;
          right: 180px;
          width: 25px;
          bottom: 42px;
        }
        .new-message-box__image{
          font-size: 1.6rem;
          line-height: 50px;
          cursor: pointer;
        }
        .new-message-box__file{
          display: none;
        }
      .new-message__submit-btn{
        background-color: $light_blue;
        border: none;
        color: white;
        float: right;
        font-size: 16px;
        height: 50px;
        margin-left: 15px;
        padding: 0 30px;
        border: 1px solid;
        border-color: black;
        cursor: pointer;
      }
    }
  }

li{
  display: inline;
}
.chat-main__message-list__next-item{
  padding-top: 12px;
  padding-bottom: 11px;
}